.loader {
  border: 4px solid #ffffff;
  border-top: 4px solid #898ac4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  /* display: none; */
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#submitBtn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
