body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}

/* Loader */
.loader {
  border: 4px solid #ffffff;
  border-top: 4px solid #898ac4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: none;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#submitBtn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #d8c4e7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #980ffa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #820ad7;
}
